<header id="top-header">
    <span class="site-header" >
        <a href="/" title="Return to home page"><img src="/images/site/icon.png" alt=""></a>
        <div id="tools">
            <a title="Click to log in" href="/account/login" class="tools"><h2>My account</h2></a>
        </div>
    </span>
    
</header>