<header id="top-header">
    <div class="site-header">
        <a href="/" title="Return to home page">
            <img src="/images/site/icon.png" alt="CSE Motors Logo">
        </a>
        <a href="/account/login" class="tools-link">My Account</a>
    </div>
</header>

