

<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<div class="management-container">
  <h2>Welcome to the Vehicle Management Page</h2>

  <div class="management-links">
    <a href="/inv/add-classification" class="btn">Add New Classification</a>
    <a href="/inv/add-inventory" class="btn">Add New Vehicle</a>
  </div>
  <h2>Inventory Management </h2>
  <p>Choose a classification to view vehicles:</p>
    <%- classificationList%>

 
  <div class="inventory-table" >
    
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
    <script src="/js/inventory.js"></script>
   
  </div>
</div>